@import url(‘https://fonts.googleapis.com/css2?family=Poppins&display=swap’);

body {
    font-family: Poppins,sans-serif;
    color: #572a31;
  }

.hero h2{
    font-family: Poppins,sans-serif;
    color: #572a31
}

.header {
    background: #ffc0d6;
    transition: all 0.5s;
    z-index: 997;
    height: 90px;
    border-bottom: 4px solid #e32972;
  }

 


  .section-header h2 {
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    color: #572a31;
    text-transform: uppercase;
    font-family: Poppins, sans-serif;
  }

  .section-header p {
    margin: 0;
    font-size: 48px;
    font-weight: 400;
    font-family: Poppins, sans-serif;
  }
  
  .section-header p span {
    color: #ffc0d6;
  }


  .navbar>ul>li>a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -6px;
    left: 0;
    background-color: #e32972;
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out 0s;
  }

  a {
    color: #572a31;
    text-decoration: none;
    font-family: Poppins, sans-serif;
  }

  .scroll-top:hover {
    background: #e32972;
    color: #fff;
  }

  .header .logo img {
    max-height: 40px;
    margin-right: 6px;
  }


  .home-cupcakes img {
    background: #95e2eb;
    border-radius: 1000px;
  }

  .home-icecream img{
    background: #f29fbc;
    border-radius: 1000px;
  }

  .btn-primary{
    background: #e32972;
    border-radius: 100px;
    border: none;
    font-weight: 700;
  }

  .stats-counter {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/img/footerimages.png") center center;
    background-size: cover;
    padding: 100px 0;
  }
  

  .why-us .why-box {
    padding: 30px;
    background: #572a31;
    color: #fff;
  }

  .why-us .why-box h3 {
    font-weight: 700;
    font-size: 34px;
    margin-bottom: 30px;
    font-family: Poppins, sans-serif
  }

  .why-us .icon-box p {
    font-size: 15px;
    color: #6c757d;
    font-family: Poppins, sans-serif;
  }

  .menu .nav-link:hover {
    color: #e32972;
  }
  
  .menu .nav-link.active {
    color: #e32972;
    border-color: #e32972;
  }

  .menu .tab-content .tab-header h3 {
    font-size: 36px;
    font-weight: 600;
    color: #572a31;
    font-family: poppins, sans-serif;
  }

  .home-locations{
    background-image:url(../assets/img/homelocationstransparent.png) no-repeat 50%;
    background-color: #95e2eb;
    padding-bottom: 20px;
  }

  .menu .tab-content .menu-item h4 {
    font-size: 22px;
    font-weight: 500;
    color: #f29fbc;
    font-family: Poppins, sans-serif;
    font-weight: 30px;
    margin-bottom: 5px;
  }

  .menu .tab-content .menu-item .ingredients {
    font-family: Poppins, sans-serif;
    color: #8d8d9b;
    margin-bottom: 5px;
    font-weight: lighter;
  }

  .contact .info-item .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    font-size: 24px;
    line-height: 0;
    color: #fff;
    background: #e32972;
    border-radius: 50%;
    margin-right: 15px;
  }

  .contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
  border-color: #e32972;
}

.contact .php-email-form button[type=submit]:hover {
    background: #f29fbc;
  }